@import "_utils.scss";

// mobile foundation
body {
    height:                 100%;
    overflow:               auto;
    text-size-adjust:       100%;
    -webkit-touch-callout:  none;
    user-select:            none;
}
